/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
html,body {
	font-family: 'Montserrat', sans-serif;
}
.main {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	border-top: 10px solid #24AFF2;
	border-bottom: 10px solid #24AFF2;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.container {
	width: 100%;
	max-width: 465px;
	margin: 0 auto;
	@media only screen and (max-width: 464px) {
		padding: 0 20px;
		box-sizing: border-box;
	}
	&.grid {
		// display: grid;
		// grid-template-columns: 0.4fr 0.6fr;
		> div {
			display: inline-block;
			vertical-align: top;
			color: #4A4A4A;
			font-weight: 300;
			position: relative;
			font-size: 14px;
			@media only screen and (max-width: 464px) {
				font-size: 12px;
			}
			span {
				display: block;
				font-size: 11px;
				margin-top: 3px;
				@media only screen and (max-width: 464px) {
					font-size: 10px;
				}
			}
			&:last-child {
				// padding-left: 15px;
				width: 60%;
				display: inline-flex;

				@media only screen and (max-width: 464px) {
					width: 58%;
				}
				// &:before {
				// 	content: ":";
				// 	display: inline-block;	
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;			
				// }
			}
			&:first-child {
				width: 35%;
			}
		}
	}
	h3 a{ 
		text-decoration: none;
		font-weight:bold;
		color:#24AFF2;
	}
}

.place {
	font-size: 15px;
	color: #000;
	font-weight: 400;
	@media only screen and (max-width: 464px) {
		font-size: 14px;
	}
}

header {
	height: 177px;
	// background: url(../images/bg-header.jpg) center no-repeat;
	// background-size: cover;
	position: relative;
	> img {
		width: 100%;		
		height: auto;
		text-align: center;
		display: inline-block;
	}
	@media only screen and (max-width: 464px) {
		height: 117px;
	}
	.container {
		display: flex;
		height: 100%;
		img {
			width: 117px;
			margin: auto 0;
			z-index: 2;
			@media only screen and (max-width: 464px) {
				width: 78px;
			}
		}
	}
}

section {
	&.opening {
		h1,h3 {
			font-size: 15px;
			margin: 27px 0 0 0;
			font-weight: 600;
		}
		h3 {
			span {
				display: block;
			}
			@media only screen and (max-width: 464px) {
				font-size: 14px;
				span {
					display: inline-block;
				}
			}
		}
		h2,h4 {
			font-size: 12px;
			color: #4A4A4A;
			font-weight: 400;
			margin: 0;
		}
		h4 {
			margin-top: 13px;			
		}
		margin-bottom: 40px;
	}
	.section-title {
		font-size: 15px;
		color: #949395;
		font-weight: 700;
		color: #949395;
		span {
			font-size: 11px;
			display: block;
			font-weight: 300;
			color: #4A4A4A;
		}
	}
	&.info {
		margin-top: 30px;
		.section-title {
			font-weight: 600;
			span {
				font-weight: 300;
			}
		}
	}
}

.box-info {
	border: 1px solid #9B9B9B;
	border-radius: 8px;
	padding: 20px 20px;
	margin: 15px 0 25px;
	font-weight: 300;
	> div {
		font-size: 14px;
		color: #000;
		margin: 10px 0;
		@media only screen and (max-width: 464px) {
			font-size: 12px;
		}
		span {
			display: block;
			font-size: 11px;
			color: #4A4A4A;
			margin-top: 4px;
		}
	}
}

.row {
	background: #F6F6F6;
	padding: 10px 0;
	margin: 15px 0;
	@media only screen and (max-width: 464px) {
		padding: 5px 0;
	}
}

a.btn-voucher {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	display: block;
	background-color: #24AFF2;
	border-radius: 8px;
	text-decoration: none;
	padding: 8px;
	@media only screen and (max-width: 464px) {
		font-size: 13px;
	}
}


.copy {
	font-size: 12px;
	color: #4A4A4A;
	font-weight: 300;
	text-align: center;
	margin: 0px 0 12px;
}

footer {
	img {
		width: 100%;
		height: auto;
		text-align: center;
		display: inline-block;
	}
}

.dotted {
	margin-right: 10px;
}/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
html,body {
	font-family: 'Montserrat', sans-serif;
}
.main {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	border-top: 10px solid #24AFF2;
	border-bottom: 10px solid #24AFF2;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.container {
	width: 100%;
	max-width: 465px;
	margin: 0 auto;
	@media only screen and (max-width: 464px) {
		padding: 0 20px;
		box-sizing: border-box;
	}
	&.grid {
		// display: grid;
		// grid-template-columns: 0.4fr 0.6fr;
		> div {
			display: inline-block;
			vertical-align: top;
			color: #4A4A4A;
			font-weight: 300;
			position: relative;
			font-size: 14px;
			@media only screen and (max-width: 464px) {
				font-size: 12px;
			}
			span {
				display: block;
				font-size: 11px;
				margin-top: 3px;
				@media only screen and (max-width: 464px) {
					font-size: 10px;
				}
			}
			&:last-child {
				// padding-left: 15px;
				width: 60%;
				display: inline-flex;

				@media only screen and (max-width: 464px) {
					width: 58%;
				}
				// &:before {
				// 	content: ":";
				// 	display: inline-block;	
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;			
				// }
			}
			&:first-child {
				width: 35%;
			}
		}
	}
}

.place {
	font-size: 15px;
	color: #000;
	font-weight: 400;
	@media only screen and (max-width: 464px) {
		font-size: 14px;
	}
}

header {
	height: 177px;
	// background: url(../images/bg-header.jpg) center no-repeat;
	// background-size: cover;
	position: relative;
	> img {
		width: 100%;		
		height: auto;
		text-align: center;
		display: inline-block;
	}
	@media only screen and (max-width: 464px) {
		height: 117px;
	}
	.container {
		display: flex;
		height: 100%;
		img {
			width: 117px;
			margin: auto 0;
			z-index: 2;
			@media only screen and (max-width: 464px) {
				width: 78px;
			}
		}
	}
}

section {
	&.opening {
		h1,h3 {
			font-size: 15px;
			margin: 27px 0 0 0;
			font-weight: 600;
		}
		h3 {
			span {
				display: block;
			}
			@media only screen and (max-width: 464px) {
				font-size: 14px;
				span {
					display: inline-block;
				}
			}
		}
		h2,h4 {
			font-size: 12px;
			color: #4A4A4A;
			font-weight: 400;
			margin: 0;
		}
		h4 {
			margin-top: 13px;			
		}
		margin-bottom: 40px;
	}
	.section-title {
		font-size: 15px;
		color: #949395;
		font-weight: 700;
		color: #949395;
		span {
			font-size: 11px;
			display: block;
			font-weight: 300;
			color: #4A4A4A;
		}
	}
	&.info {
		margin-top: 30px;
		.section-title {
			font-weight: 600;
			span {
				font-weight: 300;
			}
		}
	}
}

.box-info {
	border: 1px solid #9B9B9B;
	border-radius: 8px;
	padding: 20px 20px;
	margin: 15px 0 25px;
	font-weight: 300;
	> div {
		font-size: 14px;
		color: #000;
		margin: 10px 0;
		@media only screen and (max-width: 464px) {
			font-size: 12px;
		}
		span {
			display: block;
			font-size: 11px;
			color: #4A4A4A;
			margin-top: 4px;
		}
	}
}

.row {
	background: #F6F6F6;
	padding: 10px 0;
	margin: 15px 0;
	@media only screen and (max-width: 464px) {
		padding: 5px 0;
	}
}

a.btn-voucher {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	display: block;
	background-color: #24AFF2;
	border-radius: 8px;
	text-decoration: none;
	padding: 8px;
	@media only screen and (max-width: 464px) {
		font-size: 13px;
	}
}

.text-center{ text-align: center;}
.copy {
	font-size: 12px;
	color: #4A4A4A;
	font-weight: 300;
	text-align: center;
	margin: 0px 0 12px;
}

footer {
	img {
		width: 100%;
		height: auto;
		text-align: center;
		display: inline-block;
	}
}

.dotted {
	margin-right: 10px;
}