@mixin transition($animate) {
	-webkit-transition: all $animate ease;
	-moz-transition: all $animate ease;
	-o-transition: all $animate ease;
	transition: all $animate ease;
}
@mixin translate($x,$y) {
	-webkit-transform: translate($x,$y);
	   -moz-transform: translate($x,$y);
	    -ms-transform: translate($x,$y);
	     -o-transform: translate($x,$y);
	        transform: translate($x,$y);
}
@mixin scale($x) {
	-ms-transform: scale($x); /* IE 9 */
	-webkit-transform: scale($x); /* Chrome, Safari, Opera */
	transform: scale($x);
}
@mixin gradient_pos($color1,$color2,$pos1,$pos2,$first) {
	background: $color1; /* Old browsers */
	background: -moz-linear-gradient($pos1, $color1 $first, $color2 100%); 
	background: -webkit-linear-gradient($pos1, $color1 $first,$color2 100%); 
	background: linear-gradient(to $pos2, $color1 $first,$color2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
	//@include gradient_pos(#FF468C,#56EBFA,0deg,100deg,1%);
}
@mixin gradient_anakku() {
	background: rgb(104,189,73); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(104,189,73,1) 1%, rgba(2,143,213,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(104,189,73,1) 1%,rgba(2,143,213,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(104,189,73,1) 1%,rgba(2,143,213,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bc1f6', endColorstr='#138ee9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@mixin shadow($size,$alpha) {
    -webkit-box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $alpha);
    -moz-box-shadow:    0px 0px $size 0px rgba(0, 0, 0, $alpha);
    box-shadow:         0px 0px $size 0px rgba(0, 0, 0, $alpha);
}
@mixin rotate($value){
	-moz-transform: rotate($value);
	-ms-transform: rotate($value);
	-webkit-transform: rotate($value);
	transform: rotate($value);
}
@mixin shadow_color($size,$color1,$color2,$color3,$alpha) {
    -webkit-box-shadow: 0px 0px $size 0px rgba($color1,$color2,$color3, $alpha);
    -moz-box-shadow:    0px 0px $size 0px rgba($color1,$color2,$color3, $alpha);
    box-shadow:         0px 0px $size 0px rgba($color1,$color2,$color3, $alpha);
}
@mixin shadow_color_pos($size,$pos1,$pos2,$color1,$color2,$color3,$alpha) {
    -webkit-box-shadow: $pos1 $pos2 $size 0px rgba($color1,$color2,$color3, $alpha);
    -moz-box-shadow:    $pos1 $pos2 $size 0px rgba($color1,$color2,$color3, $alpha);
    box-shadow:         $pos1 $pos2 $size 0px rgba($color1,$color2,$color3, $alpha);
}


.box_img{
	display: block;
	position:  relative;
	width: 100%;
}
.box_img:before{
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1*/
}
/* Other ratios */
.ratio2_1:before{
	padding-top: 50%;
}
.ratio3_1:before{
	padding-top: 40%;
}
.ratio4_1:before{
	padding-top: 25%;
}
.ratio5_1:before{
	padding-top: 20%;
}
.ratio1_2:before{
	padding-top: 200%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio5_3:before {
	padding-top:65%;
}
.ratio3_4:before{
	padding-top: 133%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}
.ratio9_16:before{
	padding-top: 178%;
}
.ratio9_8:before{
	padding-top: 85%;
}
.ratio6_2:before {
	padding-top:40%;
}
.m10 {
	margin:10px;
}
.mt70 {
	margin-top: 70px;
}
.pt40 {
	padding-top: 40px;
}
.pb40 {
	padding-bottom: 40px;
}
.text-center {
	text-align: center;
}
.img_con{
	/* Positioning */
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	/* Styling */
	text-align: center;
	vertical-align: center;

	overflow: hidden;
	background-size: cover;
}
.img_con {
	img {
		height: 100%;
	}
	iframe {
		height: 100%;
		width: 100%;
	}
}
.bgwhite {
	background: #fff;
}