.notif-blue{
    background:#F3FCFF;
    color:#333;
    -webkit-box-shadow: 0 1px 1px rgba(#ade7ff, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(#ade7ff, 0.5);
    box-shadow: 0 1px 1px rgba(#ade7ff, 0.5);
    border-bottom: solid 1px #ade7ff;  
    font-size:16px;
    span a.message{
      color:#00AEF4;
      font-weight: bold;
      text-decoration:none;
    }
}

.video-area{
  margin-bottom:20px;
  background-color:#ededed;
  .video_detail {
      position: relative;
      // padding-bottom: 56.25%;
      padding-bottom:35.14286%;
    & .video_detail__wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
.container.wrapper16-9{
  width:100%;
  background: #000;
  .video-area{ 
    margin: 0 auto 20px;
    width: 800px;
    background: #000;
    .video_detail{
      padding-bottom: 56.25%;
    }
  }
}

.fasilitas-protokol{
  padding:0 10%;
  h2{
    text-align: center;
  }
  .text-protokol-first{
    display: block;
    margin: 10px auto 80px;
    line-height: 180%;
  }
  ul.list-fasilitas{
    grid-template-columns: 1fr 1fr;
    li{ 
      display: flex;
      align-items: center;
      padding-bottom:30px;
      line-height: 160%;
      img{
        height:150px;
        margin-right:20px;
      }
      .desc-protokol{
        h3{ margin: 0 0 10px;}
      }

    }
  }
}

.list_fasilitas{
  h2{
    text-align: center;
  }

}
.faq{
  text-align: center;
  margin: 50px 0;
  /*S:ACCORDION*/
  .accordion {
    margin:0 auto 20px;
    width: 80%;
    padding:0; 
    list-style:none;
    text-align:left;
    font-family: inherit;
    .title_acc {
      cursor: pointer;
      &:after{
        content:'';
        background-image: url(../images/arrow-right.png);
        background-size: cover;
        width:16px;
        height:16px;
        position: absolute;
        top:18px;
        right:10px;
        display:inline-block;
        z-index: 1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        }
      &.buka:after{
        transform: rotate(90deg);
      }
    }
      .box_acc {
        display: none;
        font-size:16px;
        line-height:150%;
        padding: 20px 20px 10px 25px;
        background: #eee;
        p{
          margin:0 0 20px 0;
        }
      }
      li{
        margin:0 0 10px 0;
        padding:0;
        position:relative;
        h5{
          margin:0;
          padding:16px 20px 16px 12px;
          background:none;
          font-size:18px;
          position: relative;
          z-index: 2;
          background: #fff;
        }
      }

  }
  /*E:ACCORDION*/
}
header nav ul.list_menu li {
  margin: 0 8px;
}
header.smaller nav ul.list_menu li {
  margin: 0 8px 0 6px;
}
header nav ul.list_menu li a.btn_pesan {
  display: none;
}
header.smaller nav ul.list_menu li a.btn_pesan {
  display: inline-block;
  margin-top: -10px;
}
.bgwhite{ background:white;}

.protokol-book{
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  bottom:0;
  left:0;
  z-index: 3;
  padding: 10px 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.book-now {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 13px 20px;
  border-radius: 3px;
  color: #fff;
  transition: all 0.2s ease;
  border: 0;
  display: inline-block;
  background: #00aef4;
  &:hover {
    outline: none;
    background-color: #00a7ea;
    -webkit-box-shadow: inset 0px 0px 15px #0091cb;
    -moz-box-shadow: inset 0px 0px 15px #0091cb;
    box-shadow: inset 0px 0px 15px #0091cb;
  }
}
@media screen and (max-width: 850px) {

  .notif-blue{
    padding-top: 30px;
  }
  .fasilitas-protokol {
    padding: 0 10px;
    text-align: left;
    h2{ text-align:left;}
    ul.list-fasilitas {
      grid-template-columns: 1fr;
      li{
        img{
          height: 64px;
        }
        .desc-protokol{
          text-align:left;
          font-size:16px;
          h3{ font-size:18px;}
        }
      }
    }
  }
  
  .faq{ 
    margin:50px 15px 0;
    .accordion{
      width:100%;
      li h5{padding: 16px 30px 16px 12px;}
      .title_acc:after{
        top:25px;
      }
    }
  }
  .video-area .video_detail {
      padding-bottom: 56.25%;
  }
  
}
