@media screen and (max-width: 1024px) {
  .container{ width:100%; }
  header nav ul.list_menu li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 850px) {
  body {
    padding-top: 50px;
  }
    .container,
    .home-fasilitas .container,
    .container.container-order,
    .container.container-form {
        width: 100%;
        padding: 0 14px;
    }
    .order-tiket {
      width: calc(100% - 30px);
      margin: 15px 15px 0px 15px;
      display: block;
      padding: 15px 20px;
      transform: translateY(-35px);
      position: relative;            
      &.order-tiket-index {
        margin: 0;
        width: 100%;
      }
      &:after {
          top: 20px;
          border-width: 10px 0 10px 10px;
      }
      .title {
        width: 100%;
        display: block;
        font-size: 18px;
        text-align: left;
        font-weight: bold;
        margin-bottom: 10px;
        span {
          display: inline-block;
          font-size: 18px;
          margin-left: 10px;
        }
      }
      .detail-tiket {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin:0 auto;
        // display: grid;
        // grid-gap: 15px;
        // grid-template-columns: 1fr 1fr;
        .datepick,
        .timepick,
        .price {
          width: calc(50% - 5px);
          // float: left;          
          // width: 100%;
          height: auto;
          margin-right: 0px;
          // margin-top: 10px;
          span {
            margin-top: 10px;
          }
        }
        .timepick {
          margin-left: 0px;
          margin-right: 0;
          order: 3;
        }
        .datepick {
          order: 2;
          input {
            width: 100%;
            height: 36px;
            font-size: 13px;
          }
        }
        .price {
          // width: 100%;
          padding-bottom: 8px;
          order: 4;
          > span {
            margin: 10px 0 5px 0
          }
          .sum {
            font-size: 16px;
          }
        }
        .location {
          order: 1;
          // select option:after {
          //   content: attr(data-content);
          // }
        }
      }
      .booking_btn {
        display: inline-block;
        margin-top: 20px;
        width: 100%;        
        text-align: center;
      }
    }
    .home-insta {      
      &__title {
        font-size: 18px;
        img {
          height: 40px;
        }
      }
      .yellow_btn {
        font-size: 12px;
        padding: 10px;
        margin: 10px 2px 0 2px;
      }
    }
    footer {
      text-align: center;
      padding: 20px 0;
      .container {
        .nav_bottom {
          text-align: center;
          .logo_bot {
            text-align: center;
            float: none;
            margin-bottom: 10px;
            margin-right: 0;
            img.logo {
              float: none;
              margin: 0;
              margin-bottom: 5px;
            }
          }
          .menu_bottom {
            width: 100%;
            float: none;
            text-align: center;
            margin: 0;
            font-size: 14px;
            ul.list_menu {
              text-align: center;
              padding: 10px 0;
              display: inline-block;
              li {
                display: inline-block;
                padding: 5px 20px;
              }
            }
            p {
              text-align: center;
            }
            .copy {
              text-align: center;
            }
          }
        }
        .sosmed {
          width: 100%;
          float: left;
          display: block;
          margin: 0;
          top: 0;
          margin-bottom: 20px;
          a {
            height: 40px;
            width: auto;
            img {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }
    header {
      width: 100%;
      height: 50px;
      position: fixed;
      z-index: 10;
      nav {
        .container {
          display: block;
        }
        ul {
          &.list_menu {
            display: none;
            text-align: center;
            // margin-top: 50px;
            li {
              padding: 15px 10px;
              a.btn_pesan {
                opacity: 1;
              }
              .dropmenu {
                position: static;
                opacity: 1;   
                background: none;
                -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0);
                -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0);
                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0);    
                a {
                  margin-bottom: 0;
                }         
              }
            }
          }
          &.list_signin {
            text-align: center;
            // position: absolute;
            width: calc(100% - 60px);
            left: 0;
            // bottom: 50px;
            display: none;
            border-top: 1px solid #D4D4D4;
            padding-top: 30px;
            margin: 15px 30px;
            li {
              display: inline-block;
              &.sign_in {
                position: static;
                a {
                  min-width: auto;
                  &:first-child {
                    background: none;                    
                  }
                  &:nth-of-type(n+2) {
                      display: block;
                    }
                }
              }
            }
          }
        }
        a.logo {
          width: 100px;
          margin-left: 10px;
          display: block;  
        }
        &.menu_show {
          background: rgba(255,255,255,1);
          height: 100%;  
          position: fixed;
          width: 100%;
          overflow:scroll;
          ul {
            &.list_menu,
            &.list_signin {
              display: block;
            }
          }
        }

      }
    }
    #menu_ {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 11;
      padding: 5px;
      width: 30px;
      display: block; 
      span {
        display: block;
        height: 3px;
        border-radius: 100px;
        background: #838383;
        margin-bottom: 5px;
        width: 100%;
        @include transition(0.5s);
        &:nth-child(2) {
          width: 80%;
        }
      }
      &.menu_close_style {
        span {
          background: red;
          position: relative;
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(1) {
            @include rotate(-45deg);
            top: 8px;
            
          }
          &:nth-child(3) {
            @include rotate(45deg);
            
          }
        }
        
      }
    }
    .home-hero {
      padding-top: 250 / 375 *100%;
        ul.list_hero {
          li.aspect-ratio-box {
            .container  {
              text-align: center;
              p {
                font-size: 24px;
                line-height: 1.02;                
                span {
                  font-size: 22px;
                }
              }  
            }          
          } 
          .slick-dots {
            display: none !important;
          }         
        }
        .slick-arrow {
          width: 13px;
          height: 24px;
          left: 9px;
          &.slick-next {
            right: 9px;
          }
        }        
    }
    .yellow_btn {
      padding: 8px 14px;
      font-size: 15px;
    }
    .home-whats-on {
      h1 {
        font-size: 20px;
      }      
    }    
    
    h4.feed_title {
      font-size: 22px;
      font-weight: bold;
      margin: 25px 0 10px 0;
    }
    ul.whats-on-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 220px 220px;
        grid-template-areas: 
            "main main"
            "side1 side2";
          grid-gap: 10px 15px; 
          &.alt-list {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "main main" "side1 side2";
            grid-gap: 10px 15px;

          } 
          li {
            > img {
              width: 100%;
              height: 50%;
              position: static;
            }
            .info {
              a {
                font-size: 11px;
                padding: 7px 8px;
                img {
                  width: 8px;
                }
              }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              .info {
                width: 100%;
                height: 50%;
                position: static;
                padding: 14px;
                h2 {
                  font-size: 15px;
                  margin-bottom: 10px;
                  height: 50px;
                  overflow: hidden;
                  line-height: 125%;
                  display: -webkit-box;
                  -webkit-line-clamp: 4;
                  -webkit-box-orient: vertical;  
                }
              }
              &:after {
                display: none;
              }
            }
            &:first-child {
              > img {
                height: 100%;
              }
              .info {
                padding: 15px 10px;
                grid-template-columns: 2fr 1fr;
                grid-gap: 10px 12px;
                grid-template-areas: "info1 info1" "info3 info4";
                h2 {
                  font-size: 18px;
                }
                p {
                  font-size: 13px;
                }
                a {
                  position: absolute;
                  bottom: 15px;
                  right: 15px;
                }
              }
              &:after {
                height: 90%;
              }
            }
          }     
          &.no-btn {
            grid-template-rows: 220px 1fr;
            li:nth-of-type(n+2) {
              .image-container {
                width: 100%;
                height: auto;
                position: relative;
                padding-top: 56.25%;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                }
              }
              .info {
                align-items: flex-start;
                padding: 10px;
                height: auto;
                h2 {
                  height: 70px;
                }
              }
            }
            .card_news {
              .text {
                padding: 10px;
                h2 {
                  font-size: 15px;
                  height: 70px;
                }
              }
            }
          }
      }

    .news-list {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px 15px;
    }

    .home-arena {
      .indoor-title {
        width: calc(100% - 20px);
        padding: 10px;
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 13px;
        }
      }
      .indoor-map {
        padding-top: 60%;
        .poi {
          width: 25px;
          img {
            width: 100%;
          }
          .info-poi {
            top: -290%;
            left: -300%;
            width: 150px;
          }
        }
      }
    }
    .home-fasilitas {
      padding: 15px 0 15px 0;
      h3 {
        margin: 0 0 10px 0;
      }      
    }
    ul.list-fasilitas {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      li {
        font-size: 12px;
        img {
          margin-right: 10px;
          height: 20px;
        }
      }
    }

    .home-others {
      padding: 30px 0 10px;
      h3 {
        font-size: 25px;
        margin-bottom: 15px;
      }
      ul.list-others-trans-studio {
        width: 100%;
        overflow-x: scroll;
        padding: 42px 0px 0px 0px;
        grid-template-columns:repeat(4, 150px);
        // grid-gap: 55px 15px;
        li {          
          &:after {
            width: 78px;
            height: 70px;
          }
        }

      }
    }
    .home-address {
      display: block;
      height: auto;
      .gmap {
        width: 100%;
        padding-top: 100%;
        position: relative;
        > iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
      }
      .info {
        // display: none;
          padding: 20px;
          text-align: center;
          .logo {
            display: none;
          }
          p {
            max-width: unset;
          }
      }
    }
    .home-gallery a.visit_ig {
      font-size: 13px;
    }
    
    .home-gallery {
      h3 {
        font-size: 25px;
      }
    }

    .title_page {
      font-size: 32px;
      margin-top: 40px;
    }
    .detail_page {
      padding: 15px;
    }
    .detail_tiket {
      width: auto;
    }

    .detail_berita {
      width: 100%;
      .title {
        h1 {
          font-size: 28px;
        }
        .info {
          font-size: 13px;
        }
      }
      .detail_text {
        width: 100%;
        padding: 0;
      }
    }
    .breadcrumb {
      margin: 30px 15px;
    }
    .list_4 {
      .card_news {
        width: calc(50% - 20px);
      }
    }

    header nav ul.list_signin li.sign_in:hover {
      background-color: transparent;
    }
    header nav ul.list_signin li.sign_in>a:nth-of-type(n+2):hover {
        background: none;
    }
    header.smaller nav a.logo {
      width: 100px;
    }


    .card_news {
      .label {
        top: 5px;
        left: 5px;
        padding: 5px 8px;
        font-size: 8px;
      }
      .text {
          min-height: auto;
            .btn_more {
              font-size:11px;
              padding: 7px 8px;
              background-image: url("../images/arrow_f.png");
              background-size: 5px;
              padding: 7px 23px 7px 8px;
              position: static;
              display: inline-block;
            }
            h2 {
              font-size: 18px;
              margin-bottom: 5px;
              min-height: 50px;
              overflow: hidden;
            }
        } 
    } 

    .fasilitas-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }  
    .card_fasilitas {
      .text {
        padding: 8px;
        h2 {
          font-size: 20px;
          margin-bottom: 5px;
        }
        p {
          font-size: 13px;
          alignment-baseline: 130%;
          margin-bottom: 5px;
        }
        .rent-label {
          font-size: 13px;
          strong {
            display: block;
            font-size: 18px;
            padding-top: 5px;
          }
        }
      }
    }

    .title-fasilitas {
      flex-flow: column wrap;
      h1 {
        margin: 0 0 20px 0;
        font-size: 30px;
      }
      .rent-label {
        font-size: 15px;
        padding: 11px 14px;
        strong {
          font-size: 22px;
          padding-top: 5px;
          display: inline-block;
        }
        sub {
          font-size: 14px;
        }
      }
    }

    .title-order-page {
      font-size: 16px;
      font-weight: bold;
      span {
        font-size: 23px;
      }
    }

    .filter-order {
      width: 100vw;
      margin-left: -14px;
      font-size: 11px;
      padding: 15px;
      form {
        flex-flow: column nowrap;
        margin: 0;
      }
      .filter-date {
        margin-bottom: 14px;
        input[type="date"] {
          font-size: 11px;
        }
        span {
          margin-right: 15px;
        }
      }
      .filter-payment-status {
        .select-style select {
         font-size: 11px; 
        }
        span {
          margin-right: 15px;
        }
      }
    }

    ul.list-order {
      overflow: hidden;
      margin: 0 0 11px 0;      
      li {
        padding: 5px 14px 10px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
        & > div:first-child {
          justify-content: space-between;
          flex-flow: row wrap;
          padding: 7px 0;
          .order-number,
          .qty,
          .total-price,
          .payment-status,
          .produk {
            font-size: 9px;
            margin: 5px 5px 0 0;
            padding-right: 5px;
            span {
              font-size: 10px;
            }
            min-width: unset;
          }
          .qty {
            // margin: 0;
          }
          .payment-status {
            font-size: 8px;
            padding: 5px 7px;            
          }
          .total-price {
            // margin: 0 0 0 0;
          }          
          .produk {
            width: auto;
            font-size: 9px;
            width: 50%;
            span {
              font-size: 10px;
            }
          }
        }   
        & > div:nth-of-type(2) {
          font-size: 13px;
          padding: 7px 0;
        }     
        & > div:nth-of-type(3) {
          padding: 0px 0 6px;
          flex-flow: row wrap;
          .arrival-date {
            font-size: 9px;
            margin-top: 6px;
            span {
              font-size: 10px;
            }
          }
        }
        .btn-detail-ticket {
          font-size: 9px;
          padding: 4px 7px;  
          margin-top: 6px;        
          img {
            width: 6px;
            margin-left: 5px;
          }
        }        
      }      
    }
    .load-more {
        a {
          font-size: 16px;
          padding: 10px 46px;
        }        
      }
    
    .order-step {
      margin: 35px 0 20px;
      padding: 8px 25px;
      >div {
          display: none;
          font-size: 14px;
          margin: 0 auto;                   
          span {
            font-size: 14px;            
          }
          &.selected{ display: flex; align-items: center; span {margin-right: 3px;} }
          &.selected:after {           
            border-style: solid;
            border-width: 0 8.5px 8.5px 9px;
            border-color: transparent transparent #00aff4 transparent;
          }
        }
    }
    .data-tiket {
      grid-template-columns: 34px 1fr 25px;
      grid-template-areas: 
        "titlebox titlebox ."
        ". datepick ."
        ". produk ."
        //". timepick ."
        ". qty ."
        ". price price"        
        " total total total"
        ; 
        grid-row-gap: 15px; 
        .datepick {
          margin: 0;
        }
        .price {
          .sum {
            top:0;
          }
        }
        .total {
          grid-template-columns: 34px 1fr 1fr 25px;
          span {
            &:first-child {
              grid-column-start: 2;
            }
            &:last-child {              
              grid-column-start: 3;
            }
          }
        }
        .qty {
          select {            
            text-align-last: center;
             text-align: center;
             -ms-text-align-last: center;
             -moz-text-align-last: center;
          }
        }
    }

    .data-user {
      grid-template-columns: 34px 1fr 25px;
      grid-template-areas: 
        "titlebox titlebox titlebox"
        ". form-content ."; 
        form {
          .terms {
            label {
              background-size: 95%;
            }
            input:checked ~ label {
              background-size: 95%; 
            }
          }
          .phone {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            span {
              width: 100%;
            }
            a {
              padding: 10px 13px;
              margin: 0;
            }
            input {
              width: 60%;
              width: calc(100% - 95px);
            }
          }
          .submit {
            text-align: center;
          }
        }
    }
    .notif {
      width: calc(100% - 36px);
      margin: 38px auto;
      picture {
        .msg {
          font-size: 30px;
          padding: 11px 25px;
          top: 100%;
          white-space: nowrap;
        }
      }
      .text {
        margin-top: 20px;
        p {
          font-size: 13px;
        }
      }
    }

    .detail-bantuan {
      padding: 5px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "content-bantuan"
        "list-bantuan";
        ul.list-bantuan {
          border-top: solid 1px #dddddd;
          padding-top: 25px;
        }
        .content-bantuan {
          font-size: 18px;
          line-height: 140%;
        }
    }
    .back-to-list {
      margin: 32px 0 0 0;
    }
    .detail-purchased {
      margin: 15px 0;
      flex-flow: row wrap;
      padding: 6px 11px;
      .top-area {
        padding-bottom: 0;
        .order-number {
          font-size: 10px;
          margin-bottom: 6px;
          span {
            font-size: 14px;
          }
        }
        .purchased-label {
          font-size: 11px;
          padding: 5px 8px;
          margin-bottom: 6px;
        }
      }
      .middle-area {
        grid-template-columns: 1fr 1fr;
        grid-gap: 11px;
        padding: 10px 0;
        h1,
        .date {
          grid-column: 1 / span 2;
        }
        h1 {
          font-size: 15px;
        }
        .date,
        .qty,
        .price {
          font-size: 10px;
          span {
            font-size: 14px;
          }
        }
        .price {
          // justify-self: end;
        }
      }
      .main-area {
        .qrcode {
          width: 85%;
          margin: 0px auto;
          span {
            font-size: 13px;
            margin-top: 6px;
          }
        }
        .howto {
          margin: 21px auto;
          width: 100%;
          font-size: 12px;
          h5 {
            margin-bottom: 9px;
            font-size: 13px;
          }
          ol, ul {
            margin: 0;
            li {
              padding-left: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .modal {      
      max-height: 90vh;     
      padding: 15px;
      font-size: 14px; 
      .modal-content {
        max-height: calc(90vh - 30px);
      }
      h4 {
        font-size: 19px;
        text-align: center;
      }
    }

    .share_box {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      a {
        height: 50px;
        &.msg-app {
          display: block;
        }
      }
      span {
        top: 0;
      }
    }
    .coming-soon{
      .container{
        width:320px;
        img{
          &.logo{ width: 70%; margin-bottom: 50px; }
        }
      }
    }
    .data-additional {
    grid-template-columns: 34px 1fr 25px;    
    .group-add {
      grid-column: 2 /span 1;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      .additional {
        grid-column: span 2;
        label {
          span {
            display: inline-block;
          }
        }
      }
    }
    .total {
      grid-template-columns: 34px 1fr 1fr 25px;
      & > span:last-child {
          grid-column: 3 / span 1;
      }
    }
  }
  .notice {
    font-size: 13px;
  }

  .home-speech {
    h1 {
      
    }
    p {
      width: auto;
    }
  }

  .home-etc {    
    p {
      width: auto;
    }
  }

  #order-summary {
    padding: 15px;
    font-size: 15px;
    .title {
      font-size: 18px;
      text-align: left;
      padding-left: 10px;
    }
    .subtitle {
      span {
        display: block;
      }
    }
    .order-confirmation {
      margin-top: 20px;
      padding: 15px 10px;
      grid-template-columns: 1fr 1.6fr;
      .order-id {
        text-align: center;
        font-size: 18px;
        span {
          display: block;
        }        
      }
      .content {
        &:before {
          margin-right: 10px;
        }
      }
      div span.gofull {
        display: block;
        font-size: 10px;
      }
      .total-billing {
        grid-column: 1 / span 2;
        border-style: solid hidden hidden hidden;
        text-align: center;
        padding-bottom: 0;
        &.payment {
          border-style: hidden hidden solid hidden;
          padding-top: 0;
          padding-left: 0;
          padding-bottom: 14px;
          display: block;
          > span {
            display: inline-block;
          }
          &:before {
            position: relative;
            bottom: 3px;
          }
        }
      }
    }
  }

  #choose-tsw {
    padding: 0;
    h4 {
      font-size: 17px;
    }
    .list-tsw {
      justify-content: space-between;
      margin-top: 35px;

      a {
        padding: 40px 10px;
        &:first-child{margin-right:10px;}
        img {
          width: 80px;
        }
        span {
          margin-top: 12px;
          font-size: 14px;
        }
      }
    }
    .close-modal {
      display: none;
    }
  }

  .home-tiket {
    form {
      margin: 0;
    }
  }

}
@media screen and (max-width: 830px) and (max-height: 430px) {
    
}

@media screen and (max-width: 320px) {
    .order-tiket {
      padding: 15px 15px;
      .detail-tiket {
        .datepick,
        .timepick,
        .price {
          width: 100%;
          input {
            font-size: 13px;
            padding: 8px 7px 9px;
          }
        }
        .price {
          width: 100%;
        }
        .timepick {
          margin: 0;
        }   
        .datepick {
          margin-right: 0;
          input {
            width: 100%;
          }
        }     
      }
    }
    header nav ul.list_signin {
      position: static;
      li.sign_in {
        margin-top: -30px;
      }
    }
    header nav ul.list_menu li {
        padding: 13px 10px;
    }
    .share_box a {
      height: 40px;
    }  
}
